
" /usr/share/vim/vimfiles/archlinux.vim) and sourced by the call to :runtime
" you can find below.  If you wish to change any of those settings, you should
" do it in this file (/etc/vimrc), since archlinux.vim will be overwritten
" everytime an upgrade of the vim packages is performed.  It is recommended to
" make changes after sourcing archlinux.vim since it alters the value of the
" 'compatible' option.

" This line should not be removed as it ensures that various options are
" properly set to work with the Vim-related packages.
runtime! archlinux.vim

" If you prefer the old-style vim functionalty, add 'runtime! vimrc_example.vim'
" Or better yet, read /usr/share/vim/vim80/vimrc_example.vim or the vim manual
" and configure vim to your own liking!

" do not load defaults if ~/.vimrc is missing
" let skip_defaults_vim=1

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => General
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
set vb t_vb=                     " No beeping bell no visualbell
set ruler                        " Always show current position
set number                       " Always show line numbers
set hidden                       " Allow buffers to be hidden
set wildmenu                     " Navigate through completion list
set wildmode=longest:list,full   " Better tab completion

" Prefix for mappings
let mapleader = "-"
let maplocalleader = ","
nmap <leader>l :bnext<cr>
nmap <leader>h :bprevious<cr>


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Text, tab and indent related
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
set mouse=a                      " Mouse support
set tabstop=4                    " The width of a TAB is set to 4.
                                 " Still it is a \t. It is just that
                                 " Vim will interpret it to be having
                                 " a width of 4.
set shiftwidth=4                 " Indents will have a width of 4
set softtabstop=4                " Sets the number of columns for a TAB
set expandtab                    " Expand TABs to spaces

set ai                           " Auto indent
set si                           " Smart indent
set wrap                         " Wrap lines
set lbr                          " linebreak
set nolist
set textwidth=0
set wrapmargin=0

set hlsearch                     " Highlight search matches
set incsearch                    " Incremental search with highlighting
set ignorecase                   " Ignore case when searching
set smartcase                    " If a pattern contains an uppercase letter, 
                                 " it is case sensitive.
set autoread                     " refresh file when changed from outside

filetype plugin on                " enable file type detection
filetype indent plugin on 
